html {
    background-image: url('../assets/bg.jpeg');
    cursor: url('../assets/cursor.gif'),auto;
  }
h1 {
    color: white;
  }
h2 {
    color: #808080;
  }
h3 {
    color: #404040;
  }
h4 {
    color: black;
  }
h5 {
    color: white;
  }
h6 {
    color: white;
  }
p {
    color: white;
  }
a {
    color: white;
  }