body {
    background-image: url('assets/goobert.png');
    background-size: 700px;
    background-repeat: no-repeat;
    cursor: url('assets/cursor.gif'),auto;
    cursor: url('assets/cursor.gif'),pointer;
    cursor: url('assets/cursor.gif'),default;
  }
