body {
    background-image: url('bg.jpeg');
    cursor: url('cursor.gif'),auto;
  }
h1 {
    color: white;
  }
h2 {
    color: #808080;
  }
h3 {
    color: #404040;
  }
h4 {
    color: #000000;
  }
h5 {
    color: white;
  }
h6 {
    color: white;
  }
p {
    color: white;
    cursor: url('cursor.gif'),auto;
    cursor: url('cursor.gif'),default;
    cursor: url('cursor.gif'),pointer;
  }
